<!DOCTYPE html>

{% load static %} 

<head>
    <link rel="stylesheet" href="{% static 'app.css' %}">
</head>

<body>
    <div class = "main-container">
        <div class="mini-board cg-wrap is2d orientation-white"><cg-container style="width: 800px; height: 800px;">
                <cg-board>
                    {% include "position.html"%}
                </cg-board>
            </cg-container>
        </div>
        <div class = "options">
            <h1>
                Reload Game
            </h1> 
        </div>
    </div>
</body>

</html>