<!DOCTYPE html>

{% load static %} 
{% csrf_token %}

<head>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <div class = "main-container">
        <div class="mini-board cg-wrap is2d orientation-white"><cg-container style="width: 800px; height: 800px;">
                <cg-board>
                    {% include "position.html"%}
                </cg-board>
            </cg-container>
        </div>
        <div class = "options">
            <button id = "reload">
                Reload Game
            </button>
        </div>

        <script src="{% static 'js/reload_game.js' %}"></script>
    </div>
</body>

</html>