<!DOCTYPE html>

{% for x,y in blackBishops %}
    <piece class="black-bishop" style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y in blackKing %}
    <piece class="black-king" style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y in blackKnights %}
    <piece class="black-knight" style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y in blackPawns %}
    <piece class="black-pawn" style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y in blackQueen %}
    <piece class="black-queen" style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y in blackRooks %}
    <piece class="black-rook" style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y in whiteBishops %}
    <piece class="white-bishop" style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y in whiteKing %}
    <piece class="white-king" style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y in whiteKnights %}
    <piece class="white-knight" style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y in whitePawns %}
    <piece class="white-pawn" style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y in whiteQueen %}
    <piece class="white-queen" style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y in whiteRooks %}
    <piece class="white-rook" style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

</html>