<!DOCTYPE html>

{% load static %}

{% for x,y,id in blackBishops %}
    <piece class="black-bishop" id=BBi{{id}} style="transform: translate({{ x }}px, {{ y }}px);"></piece>
{% endfor %}

{% for x,y,id in blackKing %}
    <piece class="black-king" id=BKi{{id}} style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y,id in blackKnights %}
    <piece class="black-knight" id=BKn{{id}} style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y,id in blackPawns %}
    <piece class="black-pawn" id=BPa{{id}} style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y,id in blackQueen %}
    <piece class="black-queen" id=BQu{{id}} style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y,id in blackRooks %}
    <piece class="black-rook" id=BRo{{id}} style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y,id in whiteBishops %}
    <piece class="white-bishop" id=WBi{{id}} style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y,id in whiteKing %}
    <piece class="white-king" id=WKi{{id}} style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y,id in whiteKnights %}
    <piece class="white-knight" id=WKn{{id}} style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y,id in whitePawns %}
    <piece class="white-pawn" id=WPa{{id}} style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y,id in whiteQueen %}
    <piece class="white-queen" id=WQu{{id}} style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

{% for x,y,id in whiteRooks %}
    <piece class="white-rook" id=WRo{{id}} style="transform: translate({{x}}px, {{y}}px);"></piece>
{% endfor %}

<script src="{% static 'js/click_handler.js' %}"></script>

</html>